    <!-- <h1>{{myname}}</h1>
    <button [disabled]="isDisabled" type="button" (click) = "confirm() " >click!</button>
    <br>
    <input [(ngModel)]="firstName">
    <br>
    <button  *ngIf ="showButton" (click) = "switch(false) " >on!</button>
    <button  *ngIf ="!showButton" (click) = "switch(true) " >off!</button>
    <br>
    <tr *ngFor ="let boo of books">
        <td >{{boo.title}}</td>
        <td >{{boo.author}}</td>
    </tr>
    <br>
    <input [(ngModel)]="point" type="number" min=0 max=100>
    <br>
    <ng-container [ngSwitch]="true">   
    <ng-container *ngSwitchCase="point>=80 &&point<=100">Code A</ng-container>
    <ng-container *ngSwitchCase="point>=70 &&point<=79">Code B</ng-container>
    <ng-container *ngSwitchCase="point>=60 &&point<=69">Code C</ng-container>
    <ng-container *ngSwitchCase="point>=50 &&point<=59">Code D</ng-container>
    <ng-container *ngSwitchCase="point<50">Code f</ng-container>
    <ng-container *ngSwitchDefault>Common  Code</ng-container>
    </ng-container>
    <form [formGroup]="addressForm" >
        <label >
            Address:
            <input formControlName =  "address">
        </label>
        <br>
        <label >
            tel:
            <input formControlName =  "tel">
        </label>
        <br>
        <label >
            name:
            <input formControlName =  "name">
        </label>
        <br>
        <label >
            postCode:
            <input formControlName =  "postCode">
        </label>
        <br>
        <button [disabled]="addressForm.invalid" type="submit" >save</button>
    </form>
    <label >
    firstname:
    <input [(ngModel)]="firstName">
    </label>
    <label >
        lastname:
        <input [(ngModel)]="lastName">
    </label>
<h1>{{firstName | uppercase}}    {{lastName | lowercase}} </h1> -->
<router-outlet></router-outlet>
